target
project/target
project/project/target
/test-output

# jira plugin
/atlassian-ide-plugin.xml

# Intellij Idea
*.iml
.idea/**
.idea
!/.idea/copyright/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
!/.idea/scopes/
!/.idea/codeStyleSettings.xml
!/.idea/dataSources.ids
!/.idea/dataSources.xml
!/.idea/encodings.xml
!/.idea/highlighting.xml
!/.idea/vcs.xml
/.idea_modules
**/project/target
**/project/project/target

# WorkSheet files
*.sc
